<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Neighborhood</th>
      <th>Address</th>
      <th>Deliverer fee</th>
      <th>Phone</th>
      <th>Order</th>
      <th>Blocked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.city %></td>
      <td><%= client.neighborhood %></td>
      <td><%= client.address %></td>
      <td><%= client.deliverer_fee %></td>
      <td><%= client.phone %></td>
      <td><%= client.order %></td>
      <td><%= client.blocked %></td>
      <td><%= link_to 'Show', client %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <h1><%= @test %></h1>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>