<li class="nav-item home">
  <%= link_to clients_path, class: 'nav-link',
    id: 'nav-link-home', data: { turbolinks: false } do %>
    <%= fa_icon 'home', text: 'Início' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to deliverers_path, class: 'nav-link',
    id: 'nav-link-order', data: { turbolinks: false } do %>
    <%= fa_icon 'exchange', text: 'Pedidos' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to products_path, class: 'nav-link',
    id: 'nav-link-menu', data: { turbolinks: false } do %>
    <%= fa_icon 'list', text: 'Cardápio' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to clients_path, class: 'nav-link',
    id: 'nav-link-clients', data: { turbolinks: false } do %>
    <%= fa_icon 'users', text: 'Clientes' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to deliverers_path, class: 'nav-link',
    id: 'nav-link-deliverers', data: { turbolinks: false } do %>
    <%= fa_icon 'truck', text: 'Entregadores' %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to products_path, class: 'nav-link',
    id: 'nav-link-closing-account', data: { turbolinks: false } do %>
    <%= fa_icon 'dollar', text: 'Fechamento' %>
  <% end %>
</li>
<li class="nav-item mt-auto">
  <%= link_to clients_path, class: 'nav-link',
    id: 'nav-link-config', data: { turbolinks: false } do %>
    <%= fa_icon 'cog', text: 'Configurações' %>
  <% end %>
</li>
