<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Releazar</title>
    <%= favicon_link_tag asset_path('logo.jpg') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='bg-primary'>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/sidebar' %>

        <main id="main" class="col p-3 mr-3 bg-secondary main">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
